async-generator==1.10
bitarray==2.7.3
cffi==1.15.1
exceptiongroup==1.1.1
outcome==1.2.0
pdfreader==0.1.12
pycparser==2.21
pycryptodome==3.17
PyPDF2==3.0
PySocks==1.7.1
selenium==4.8.3
sortedcontainers==2.4.0
trio==0.22.0
trio-websocket==0.10.2
wsproto==1.2.0
pdf2image~=1.16.3
Pillow~=9.5.0
pytesseract~=0.3.10